h1,h2
{
    color: rgba(0, 103, 199);
}
h3,h4
{
    color: rgba(3, 90, 172, 0.75) !important;
    margin: 3px 0 !important;
}
h6{
    font-size: 1.1rem !important;
}
h5,h6{
    color: rgba(3, 90, 172, 0.6) !important;
}
p{
    font-size: 0.9rem;
}
.card-conseil:hover
{
    background-color: rgba(243, 243, 243, 0.5) !important
}
.card-conseil > div.card-header
{
    display: flex;
    align-items: center;

}
.navbar
{
    background-color:  rgba(0, 103, 199, 0.6) !important;
    padding: 0px;
}
body{
    background-color: rgb(236, 233, 233);
}
.navbar-brand
{
    padding: 8px;
    display: flex;
    align-items: center;
}
iframe
{
    position: relative;
    width: 100%;
    height: 300px;
}
card-conseil
{
    height: 80px;
}
.card-footer
{
    background-color:  rgba(0, 103, 199, 0.1) !important;
    text-align: center;
    color: rgb(133, 131, 131);
}
div.card > div.card-footer:hover
{
    background-color:  rgb(133, 131, 131,0.2) !important; 
    color:rgba(0, 103, 199, 0.8);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.categorie
{
    -webkit-box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.40); 
    box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.40);
}
@media (min-width: 1000px){  
    .categorie > div.card-body > *
    {
        position: relative;
        width: 27%!important;
    }
    .nav-item.dropdown:hover
    {
        transition: all 0.2s ease-in-out;
        border-radius: 10px;   
        background-color: rgba(0, 103, 199, 0.4);
    }
}
@media (min-width: 700px) and (max-width: 999.98px){  
    .categorie > div.card-body > *
    {
        position: relative;
        width: 40%!important;
    }
    .nav-item.dropdown:hover
    {
        transition: all 0.2s ease-in-out;   
        border-radius: 10px;    
        background-color:  rgba(0, 103, 199, 0.452) !important;
    }

}
@media (max-width: 699.98px) 
{
    .categorie > div.card-body > *
    {
        position: relative;
        width: 100%!important;
    }
}
